<body>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Add Product</h2>
                        </div>

                    </div>
                    <div class="row tm-edit-product-row">
                        <div class="col-md-12" >
                                <form  [formGroup]="productForm" class="tm-edit-product-form test">
                                    <div class="align col-md-4">
                                <div class="form-group mb-3">
                                    <label for="name">Product Name
                                    </label>
                                    <input class="form-control validate"
                                     placeholder="Product Name"
                                      required
                                      formControlName= "productName"
                                      name="productName" />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="description">Description</label>
                                    <input class="form-control validate"
                                     placeholder="Product Description"
                                      required
                                      formControlName= "productDescription"
                                      name="productDescription"/>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">Product Actual Price
                                    </label>
                                    <input
                                     class="form-control validate"
                                     type="number"
                                     placeholder="Actual Price"
                                      required
                                      formControlName= "productDiscountedPrice"
                                      name="productActualPrice"
                                      />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="name">Product Discounted Price
                                    </label>
                                    <input class="form-control validate"
                                      type="number"
                                      placeholder="Discounted Price"
                                      required
                                      formControlName= "productActualPrice"
                                      name="productDiscountedPrice"
                                      />
                                </div>
                            </div>
                                <div class="col-8">
                                    <div>
                                        <input class="input-file" type="file" accept="image/*"
                                         (change)="onChangeProfilePic($event)"
                                         >
                                    </div>
                                      <div class="mt-5">
                                        <div class="row">
                                            <div class="images-container">
                                                <div *ngFor="let pic of uploadedPics;let i= index;">
                                                    <div class="image">
                                                        <img [src]="showImage(pic)">
                                                         <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="col-20">
                                <button (click)="addProduct()" class="btn margin btn-primary btn-block text-uppercase">Add Product Now</button>
                                <button (click)="productForm.reset()" class="btn margin btn-primary btn-block text-uppercase">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
